@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Reddit+Mono:wght@200..900&display=swap');

/* GENERAL */
* { 
    margin: 0;
    padding: 0; 
    background-color: #ebe4e0;
    font-family: "Poppins", monospace;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

/* SECTIONS */
section {
    height: 96vh;
    margin: 0;
    box-sizing: border-box;
    min-height: fit-content;

}

#logo {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 10vh;

}

/* ICONS */
.icon {
    cursor: pointer;
    height: 3rem;
}

/* BUTTONS */
.btn-container {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.btn {
    font-weight: 600;
    padding: 2rem;
    width: 20rem;
    border-radius: 2rem;
}
/* Presence */
.btn-color-1 {

    font-size: 24px;
    border: rgb(53,53,53) 0.1rem solid;
    background: rgba(6, 124, 6, 0.5); /* #red; */
    color: #794F42;
}
/* Temperature */
.btn-color-2 {
    font-size: 24px;
    border: rgb(53,53,53) 0.1rem solid;
    background: rgba(6, 124, 6, 0.5); /* #yellow, #red; */
    color: #794F42;
}
/* Timer */
.btn-color-3 {
    font-size: 24px;
    border: rgb(53,53,53) 0.1rem solid;
    background: rgba(6, 124, 6, 0.5); /* #yellow, #red; */
    color: #794F42;
}

/* FOOTER SECTION */
footer {
    min-height: fit-content;
    margin: 0;
}

footer p {
    text-align: center;
}